<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      href="https://unpkg.com/ionicons@4.5.0/dist/css/ionicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="styles/styles.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Material Design Bootstrap -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.3/css/mdb.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"
    />

    <link rel="stylesheet" href="/public/styles/styles.css" />

    <style>
      .row {
        padding-top: 20px;
      }

      .nav {
        padding-bottom: 20px;
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark primary-color fixed-top">
      <d class="container">
        <!-- Navbar brand -->
        <i class="material-icons">build</i
        ><a class="navbar-brand" href="#">Toolit</a>

        <!-- Collapse button -->
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#basicExampleNav"
          aria-controls="basicExampleNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">
          <!-- Links -->
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Profile</a>
            </li>

            <!-- Dropdown -->
          </ul>
          <!-- Links -->
        </div>
        <ion-icon name="cart" size="large"></ion-icon>

        <div class="nav-item dropdown">

          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Shopping Cart</a
          >
          <div
            class="dropdown-menu dropdown-primary"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div id="payPal"></div>
            </div>
          </div>
        
        <!-- Collapsible content -->
      
    </nav>
    <br />
    <br />
    <br />
    <!--/.Navbar-->

    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card-fluid shadow p-3">
            <img
              class="img-fluid"
              src="http://www.thebakingbird.com/wp-content/uploads/2018/05/diy.jpg"
              width="400px"
              height="250px"
            />
            <h3 class="name">Tasks</h3>
            <hr />
            <p class="description">
              Have a task to complete but don't have the time or the expertise?
              Post a task to our listings and hire someone to complete it.
            </p>
          </div>
        </div>
        <div class="col">
          <div class="card-fluid shadow p-3">
            <img
              class="img-fluid"
              src="http://www.thebakingbird.com/wp-content/uploads/2018/05/diy.jpg"
              width="400px"
              height="250px"
            />
            <h3 class="name">Tasks</h3>
            <hr />
            <p class="description">
              Have a task to complete but don't have the time or the expertise?
              Post a task to our listings and hire someone to complete it.
            </p>
          </div>
        </div>
        <div class="col">
          <div class="card-fluid shadow p-3">
            <img
              class="img-fluid"
              src="http://www.thebakingbird.com/wp-content/uploads/2018/05/diy.jpg"
              width="400px"
              height="250px"
            />
            <h3 class="name">Tasks</h3>
            <hr />
            <p class="description">
              Have a task to complete but don't have the time or the expertise?
              Post a task to our listings and hire someone to complete it.
            </p>
          </div>
        </div>
        <div class="col">
          <div class="card-fluid shadow p-3">
            <img
              class="img-fluid"
              src="http://www.thebakingbird.com/wp-content/uploads/2018/05/diy.jpg"
              width="400px"
              height="250px"
            />
            <h3 class="name">Tasks</h3>
            <hr />
            <p class="description">
              Have a task to complete but don't have the time or the expertise?
              Post a task to our listings and hire someone to complete it.
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="card-fluid shadow p-3">
            <img
              class="img-fluid"
              src="http://www.thebakingbird.com/wp-content/uploads/2018/05/diy.jpg"
              width="400px"
              height="250px"
            />
            <h3 class="name">Tasks</h3>
            <hr />
            <p class="description">
              Have a task to complete but don't have the time or the expertise?
              Post a task to our listings and hire someone to complete it.
            </p>
          </div>
        </div>
        <div class="col">
          <div class="card-fluid shadow p-3">
            <img
              class="img-fluid"
              src="http://www.thebakingbird.com/wp-content/uploads/2018/05/diy.jpg"
              width="400px"
              height="250px"
            />
            <h3 class="name">Tasks</h3>
            <hr />
            <p class="description">
              Have a task to complete but don't have the time or the expertise?
              Post a task to our listings and hire someone to complete it.
            </p>
          </div>
        </div>
        <div class="col">
          <div class="card-fluid shadow p-3">
            <img
              class="img-fluid"
              src="http://www.thebakingbird.com/wp-content/uploads/2018/05/diy.jpg"
              width="400px"
              height="250px"
            />
            <h3 class="name">Tasks</h3>
            <hr />
            <p class="description">
              Have a task to complete but don't have the time or the expertise?
              Post a task to our listings and hire someone to complete it.
            </p>
          </div>
        </div>
        <div class="col">
          <div class="card-fluid shadow p-3">
            <img
              class="img-fluid"
              src="http://www.thebakingbird.com/wp-content/uploads/2018/05/diy.jpg"
              width="400px"
              height="250px"
            />
            <h3 class="name">Tasks</h3>
            <hr />
            <p class="description">
              Have a task to complete but don't have the time or the expertise?
              Post a task to our listings and hire someone to complete it.
            </p>
          </div>
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/ionicons@4.5.0/dist/ionicons.js"></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous"
    ></script>

    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="https://www.paypal.com/sdk/js?client-id=AQlw6Mxhef3Fd9rV83uiHMRN7NyypsEjW77hdgBnzORyatQyrJqzByGELxEWqeRsIjLVv-cYhAJ1U79l"></script>
   <script>
      paypal
        .Buttons({
          createOrder: function(data, actions) {
            // Set up the transaction
            return actions.order.create({
              purchase_units: [
                {
                  amount: {
                    value: "25.00"
                  }
                }
              ]
            });
          }
        })
        .render("#payPal");
    </script>   
        
  </body>
</html>
