<!DOCTYPE html>
<html lang="en">
<head>
  <title>My Products</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>My Products</h2>
  <p>A description of all my products ordered and available:</p>            
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Product</th>
        <th>Unit Description</th>
        <th>Unit Price</th>
        <th>Units in Stock</th>
        <th>Units Ordered</th>
        <th>Available</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><div class="cell"><img src="http://placehold.it/75x75" class="cell-fluid" /></div></td>
        <td>Hammer</td>
        <td>$10.00</td>
        <td>1</td>
        <td>0</td>
        <td>Available</td>
      </tr>
      <tr>
        <td><div class="cell"><img src="http://placehold.it/75x75" class="cell-fluid" /></div></td>
        <td>Snow Blower</td>
        <td>$60.00</td>
        <td>3</td>
        <td>2</td>
        <td>Not Available</td>
      </tr>
      <tr>
        <td><div class="cell"><img src="http://placehold.it/75x75" class="cell-fluid" /></div></td>
        <td>Power Drill</td>
        <td>$40.00</td>
        <td>2</td>
        <td>1</td>
        <td>Available</td>
      </tr>
      <tr>
        <td><div class="cell"><img src="http://placehold.it/75x75" class="cell-fluid" /></div></td>
        <td>Water Hose</td>
        <td>$5.00</td>
        <td>0</td>
        <td>0</td>
        <td>Not Available</td>
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>
