<!DOCTYPE <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <style>
      .table-wrapper-scroll-y {
        display: block;
        max-height: 400px;
        overflow-y: auto;
        -ms-overflow-style: -ms-autohiding-scrollbar;
      }
      img {
        border-radius: 50%;
      }
    </style>
    <title>Profile Page</title>
  </head>
  <body>
    <div class="container">
      <div class="row my-2">
        <div class="col-lg-8 order-lg-2">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a
                href=""
                data-target="#profile"
                data-toggle="tab"
                class="nav-link active"
                >Profile</a
              >
            </li>
            <li class="nav-item">
              <a
                href=""
                data-target="#messages"
                data-toggle="tab"
                class="nav-link"
                >My Orders</a
              >
            </li>
            <li class="nav-item">
              <a href="" data-target="#edit" data-toggle="tab" class="nav-link"
                >Account</a
              >
            </li>
          </ul>
          <div class="tab-content py-4">
            <div class="tab-pane active" id="profile">
              <h5 class="mb-3">User Profile</h5>
              <div class="row">
                <div class="col-md-6">
                  <h6>Name:</h6>
                  <p>
                    Anthony Lawson
                  </p>
                  <h6>Phone:</h6>
                  <p>
                    123-456-7890
                  </p>
                </div>
                <!--<div class="col-md-6">
                                        <h6>Recent badges</h6>
                                        <a href="#" class="badge badge-dark badge-pill">html5</a>
                                        <a href="#" class="badge badge-dark badge-pill">react</a>
                                        <a href="#" class="badge badge-dark badge-pill">codeply</a>
                                        <a href="#" class="badge badge-dark badge-pill">angularjs</a>
                                        <a href="#" class="badge badge-dark badge-pill">css3</a>
                                        <a href="#" class="badge badge-dark badge-pill">jquery</a>
                                        <a href="#" class="badge badge-dark badge-pill">bootstrap</a>
                                        <a href="#" class="badge badge-dark badge-pill">responsive-design</a>
                                        <hr>
                                        <span class="badge badge-primary"><i class="fa fa-user"></i> 900 Followers</span>
                                        <span class="badge badge-success"><i class="fa fa-cog"></i> 43 Forks</span>
                                        <span class="badge badge-danger"><i class="fa fa-eye"></i> 245 Views</span>
                                    </div>-->
                <div class="col-md-12">
                  <h5 class="mt-2">
                    <span class="fa fa-clock-o ion-clock float-right"></span>My
                    Items
                  </h5>
                  <table class="table table-sm table-hover table-striped">
                    <tbody>
                      <tr>
                        <td><strong>Hammer</strong> <strong></strong></td>
                      </tr>
                      <tr>
                        <td><strong>Wrench</strong> <strong></strong></td>
                      </tr>
                      <tr>
                        <td><strong>Screwdriver</strong> <strong></strong></td>
                      </tr>
                      <tr>
                        <td><strong>Power Saw</strong> <strong></strong></td>
                      </tr>
                      <tr>
                        <td><strong>Car Jack</strong> <strong></strong></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!--/row-->
            </div>
            <div class="tab-pane" id="messages">
              <!-- HISTORY -->
              <div class="table-wrapper-scroll-y">
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">First</th>
                      <th scope="col">Last</th>
                      <th scope="col">Handle</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Jacob</td>
                      <td>Thornton</td>
                      <td>@fat</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Larry</td>
                      <td>the Bird</td>
                      <td>@twitter</td>
                    </tr>
                    <tr>
                      <th scope="row">4</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <th scope="row">5</th>
                      <td>Jacob</td>
                      <td>Thornton</td>
                      <td>@fat</td>
                    </tr>
                    <tr>
                      <th scope="row">6</th>
                      <td>Larry</td>
                      <td>the Bird</td>
                      <td>@twitter</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="tab-pane" id="edit">
              <form role="form">
                <div class="form-group row">
                  <label class="col-lg-3 col-form-label form-control-label"
                    >First name</label
                  >
                  <div class="col-lg-9">
                    <input class="form-control" type="text" value="Jane" />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-lg-3 col-form-label form-control-label"
                    >Last name</label
                  >
                  <div class="col-lg-9">
                    <input class="form-control" type="text" value="Bishop" />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-lg-3 col-form-label form-control-label"
                    >Phone</label
                  >
                  <div class="col-lg-9">
                    <input
                      class="form-control"
                      type="phone"
                      value="123-456-7890"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-lg-3 col-form-label form-control-label"
                    >Company</label
                  >
                  <div class="col-lg-9">
                    <input class="form-control" type="text" value="Optional" />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-lg-3 col-form-label form-control-label"
                    >Country</label
                  >
                  <div class="col-lg-9">
                    <input
                      class="form-control"
                      type="text"
                      value="United States"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-lg-3 col-form-label form-control-label"
                    >Address</label
                  >
                  <div class="col-lg-9">
                    <input
                      class="form-control"
                      type="text"
                      value=""
                      placeholder="Street"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-lg-3 col-form-label form-control-label"
                    >Address 2</label
                  >
                  <div class="col-lg-9">
                    <input
                      class="form-control"
                      type="text"
                      value=""
                      placeholder="Suite, Apt."
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label
                    class="col-lg-3 col-form-label form-control-label"
                  ></label>
                  <div class="col-lg-6">
                    <input
                      class="form-control"
                      type="text"
                      value=""
                      placeholder="City"
                    />
                  </div>
                  <div class="col-lg-3">
                    <input
                      class="form-control"
                      type="text"
                      value=""
                      placeholder="State"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-lg-3 col-form-label form-control-label"
                    >Time Zone</label
                  >
                  <div class="col-lg-9">
                    <select id="user_time_zone" class="form-control" size="0">
                      <option value="Hawaii">(GMT-10:00) Hawaii</option>
                      <option value="Alaska">(GMT-09:00) Alaska</option>
                      <option value="Pacific Time (US &amp; Canada)"
                        >(GMT-08:00) Pacific Time (US &amp; Canada)</option
                      >
                      <option value="Arizona">(GMT-07:00) Arizona</option>
                      <option value="Mountain Time (US &amp; Canada)"
                        >(GMT-07:00) Mountain Time (US &amp; Canada)</option
                      >
                      <option
                        value="Central Time (US &amp; Canada)"
                        selected="selected"
                        >(GMT-06:00) Central Time (US &amp; Canada)</option
                      >
                      <option value="Eastern Time (US &amp; Canada)"
                        >(GMT-05:00) Eastern Time (US &amp; Canada)</option
                      >
                      <option value="Indiana (East)"
                        >(GMT-05:00) Indiana (East)</option
                      >
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-lg-3 col-form-label form-control-label"
                    >Username</label
                  >
                  <div class="col-lg-9">
                    <input class="form-control" type="text" value="janeuser" />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-lg-3 col-form-label form-control-label"
                    >Password</label
                  >
                  <div class="col-lg-9">
                    <input
                      class="form-control"
                      type="password"
                      value="11111122333"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-lg-3 col-form-label form-control-label"
                    >Confirm password</label
                  >
                  <div class="col-lg-9">
                    <input
                      class="form-control"
                      type="password"
                      value="11111122333"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label
                    class="col-lg-3 col-form-label form-control-label"
                  ></label>
                  <div class="col-lg-9">
                    <input
                      type="reset"
                      class="btn btn-secondary"
                      value="Cancel"
                    />
                    <input
                      type="button"
                      class="btn btn-primary"
                      value="Save Changes"
                    />
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-4 order-lg-1 text-center">
          <img
            src="618784.jpg"
            class="mx-auto img-fluid img-circle d-block"
            alt="Profile Picture"
          />
          <h6 class="mt-2">Upload a different photo</h6>
          <label class="custom-file">
            <input type="file" id="file" class="custom-file-input" />
            <span class="custom-file-control">Choose file</span>
          </label>
        </div>
      </div>
    </div>
    <div
      class="modal fade top"
      id="modalCookie"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      aria-hidden="true"
      data-backdrop="tru"
    >
      <div
        class="modal-dialog modal-frame modal-top modal-notify modal-info"
        role="document"
      >
        <!--Content-->
        <div class="modal-content">
          <!--Body-->
          <div class="modal-body">
            <div class="row d-flex justify-content-center align-items-center">
              <p class="pt-3 pr-2">
                We use cookies to improve your website experience
              </p>

              <a
                href="https://mdbootstrap.com/cookie-policy/"
                target="_blank"
                class="btn btn-primary-modal"
                >Learn more
                <i class="fas fa-book ml-1"></i>
              </a>
              <a class="btn btn-outline-info waves-effect" data-dismiss="modal"
                >Ok, thanks</a
              >
            </div>
          </div>
        </div>
        <!--/.Content-->
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="../public/js/app.js"></script>
    <script src="https://unpkg.com/ionicons@4.5.0/dist/ionicons.js"></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous"
    ></script>

    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZhqhST3LzYsJ1rKWV1tXYjWU3a901rH8&libraries=places&callback=initAutocomplete"
      async
      defer
    ></script>
  </body>
</html>
