<div class="col">
    <div class="card-fluid shadow p-3">
        <img class="img-fluid" src="#" width="400px" id="toolImg" height="250px" />
        <h3 class="name" id="toolName"><span>#</span></h3>
        <hr />
        <ul>
            <li id="price">Price</li>
            <li id="location"></li>
        </ul>
        <hr>
        <i class="fas fa-envelope"><button><a href="#">Contact Renter</a></button></i>
    </div>
</div>