* {
  font-family: "Roboto", sans-serif;
}

.list-group-item {
  line-height: 2.5;
}

/* #locationSearch {
  background: #fff;
  position: relative;
  width: 400px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.24);
  padding: 4px;
  margin-left: 95px;
} */

.highlight-blue {
  color: #fff;
  background-color: #1e6add;
  padding: 50px 0;
}

.highlight-blue p {
  color: #c4d5ef;
  line-height: 1.5;
}

.highlight-blue h2 {
  font-weight: normal;
  margin-bottom: 25px;
  line-height: 1.5;
  padding-top: 0;
  margin-top: 0;
  color: inherit;
}

.highlight-blue .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 25px;
}

.highlight-blue .buttons {
  text-align: center;
}

.highlight-blue .buttons .btn {
  padding: 16px 32px;
  margin: 6px;
  border: none;
  background: none;
  box-shadow: none;
  text-shadow: none;
  opacity: 0.9;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0.4px;
  line-height: 1;
}

.highlight-blue .buttons .btn:hover {
  opacity: 1;
}

.highlight-blue .buttons .btn:active {
  transform: translateY(1px);
}

.highlight-blue .buttons .btn-primary,
.highlight-blue .buttons .btn-primary:active {
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 6px;
  color: #ebeff1;
  box-shadow: none;
  text-shadow: none;
  padding: 14px 24px;
  background: transparent;
  transition: background-color 0.25s;
}
.article-list {
  color: #313437;
  background-color: #fff;
}

.article-list p {
  color: #7d8285;
}

.article-list h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

@media (max-width: 767px) {
  .article-list h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

.article-list .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto;
}

.article-list .intro p {
  margin-bottom: 0;
}

.article-list .articles {
  padding-bottom: 40px;
}

.article-list .item {
  padding-top: 50px;
  min-height: 425px;
  text-align: center;
}

.article-list .item .name {
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;
  color: inherit;
}

.article-list .item .description {
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 0;
}

.article-list .item .action {
  font-size: 24px;
  width: 24px;
  margin: 22px auto 0;
  line-height: 1;
  display: block;
  color: #4f86c3;
  opacity: 0.85;
  transition: opacity 0.2s;
  text-decoration: none;
}

.article-list .item .action:hover {
  opacity: 1;
}

.autocomplete {
  background: #fff;
  position: relative;
  width: 400px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.24);
  padding: 4px;
  margin-left: 95px;
}

.autocomplete {
  background: #fff;
  position: relative;
  width: 400px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.24);
  padding: 4px;
  margin-left: 95px;
}
.autocomplete2 {
  background: #fff;
  position: relative;
  width: 400px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.24);
  padding: 4px;
}
.autocomplete .close {
  position: absolute;
  font-size: 13px;
  z-index: 10;
  top: 10px;
  /* left: calc(100% - 50px); */
  color: black;
  cursor: pointer;
  display: none;
}
.autocomplete .close.visible {
  display: block;
}
input {
  padding: 10px 10px;
  font-weight: 300;
  width: 100%;
  border: none;
  outline: none;
  font-size: 14px;
  color: black;
}
.dialog {
  width: 100%;
  display: none;
  min-height: 40px;
  max-height: 150px;
  overflow: scroll;
  border-top: 1px solid #f4f4f4;
}
.dialog.open {
  display: block;
}
.dialog div {
  padding: 20px 10px;
  font-size: 13px;
  cursor: pointer;
  transition: all 0.2s;
  color: gray;
}
.dialog div:hover {
  background: #f2f2f2;
}
#searchBtn {
  background-color: #53c987;
  border-color: #53c987;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  width: 150px;
  position: relative;
  color: #f2f2f2;
  height: 52px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.24);
}
#loginBtn {
  background-color: #1e6add;
  border: #1e6add;
}

.card {
  transition: box-shadow 0.3s;
  height: 400px;
  box-shadow: #313437;
  border: 3px solid #ccc;
  background: #fff;
  float: left;
}
.card:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 33);
}
img {
  width: auto; /* You can set the dimensions to whatever you want */

  object-fit: cover;
}
